<h1>Listing Hairstyles</h1>
 

  <% @hairstyles.each do |hairstyle| %>
    
      <p><%= image_tag hairstyle.image.url(:medium) %></p>
      <p><%= hairstyle.name %></p>
      <p><%= hairstyle.price %></p>
      <p><%= hairstyle.hair_type %></p>
      <p><%= link_to 'Destroy', hairstyle_path(hairstyle),
                    method: :delete, data: { confirm: 'Are you sure?' } %></p>
    
  <% end %>